.gitignore
bin/Debug/netcoreapp2.2/ImageDistortionByMirror.dll
bin/Debug/netcoreapp2.2/ImageDistortionByMirror.pdb
bin/Debug/netcoreapp2.2/ImageDistortionByMirror.deps.json
bin/Debug/netcoreapp2.2/ImageDistortionByMirror.runtimeconfig.json
bin/Debug/netcoreapp2.2/ImageDistortionByMirror.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/climb.png
obj/ImageDistortionByMirror.csproj.nuget.cache
obj/ImageDistortionByMirror.csproj.nuget.dgspec.json
obj/ImageDistortionByMirror.csproj.nuget.g.props
obj/ImageDistortionByMirror.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.dll
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.pdb
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.assets.cache
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/ImageDistortionByMirror.csprojAssemblyReference.cache
.DS_Store
